<ion-view view-title="login">
  <ion-content ng-controller="hangmanController1" class="bg-pat2s"  style="background-color: #fddf2f;
">
  <div class="m-top-20">
<!-- <div class="row m-bottom-20">
  <div class="col">
    <img src="img/Spell.jpg" style="width:100%">
  </div>
</div> -->
<center class="font-20 p-left-3 m-bottom-10 font-class"> 
 Select your Grade
</center>

  <div class="row">
<div class="col">
<button class="button button-block border-radius-custom custom-border" ng-click="get_questions_values(1)">
<p class="button-c-class">Grade 1</p>
</button>
</div> 
<div class="col">
<button class="button button-block border-radius-custom custom-border" ng-click="get_questions_values(2)"> 
<p class="button-c-class">Grade2 </p>
</button>

</div></div>

<div class="row">
 </div>
<div class="row">
<div class="col">
<button class="button button-block border-radius-custom custom-border" ng-click="get_questions_values(3)">
<p class="button-c-class">Grade 3</p>
</button>

</div>

<div class="col">
<button class="button button-block border-radius-custom custom-border" ng-click="get_questions_values(4)">
<p class="button-c-class">Grade 4</p>
</button>

</div>

 </div>

<div class="row">
<div class="col">
<button class="button button-block border-radius-custom custom-border" ng-click="get_questions_values(5)">
<p class="button-c-class">Grade 5</p>
</button>

</div>

<div class="col">
<button class="button button-block border-radius-custom custom-border" ng-click="get_questions_values(6)">
<p class="button-c-class">Grade 6</p>
</button>

</div>

 </div>
<div class="row">
 </div>
<div class="row">
<div class="col">
<button class="button button-block border-radius-custom custom-border" ng-click="get_questions_values(7)">
<p class="button-c-class">Grade 7</p>
</button>

</div>

<div class="col">
<button class="button button-block border-radius-custom custom-border" ng-click="get_questions_values(8)">
<p class="button-c-class">Grade 8</p>
</button>

</div> </div>
<div class="row">
 </div>
<div class="row">
<div class="col">
<button class="button button-block border-radius-custom custom-border" ng-click="get_questions_values(9)">
<p class="button-c-class">Grade 9</p>
</button>

</div> </div>



</div>

<!-- <div class="row m-bottom-20">
  <div class="col">
    <img src="img/grass.png" style="width:100%">
  </div>
</div> -->



  </ion-content>
</ion-view>