<div view-title="login">
    <div ng-controller="hangmanController1"  scroll=false style="background-color: #fddf2f;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <img src="img/Spell.jpg" style="width:100%">
                </div>
            </div>
      
            <div class="row">
                <div class="col-md-12">
                <button class="button button-block border-radius-custom custom-border" ng-click="get_questions_values()">
                <p class="button-c-class">Play game </p>
                </button>
                
                </div> 
            </div>
      
            <div class="row">
                <div class="col-md-12">
                <button class="button button-block border-radius-custom custom-border" ui-sref="user.about"> 
                <p class="button-c-class">About</p>
                </button>
                
                </div> 
            </div>
            <div class="row">
                <div class="col-md-12">
                <button class="button button-block border-radius-custom custom-border" ng-click="exit()">
                <p class="button-c-class">Exit</p>
                </button>
                
                </div> 
            </div>
      
            <div class="row">
                <div class="col-md-12">
                <button class="button button-block border-radius-custom custom-border" ui-sref="user.leaderboard">
                <p class="button-c-class">leaderboard</p>
                </button>
                
                </div> 
            </div>
      
      </div>
      
      <div class="row ">
        <div class="col-md-12">
          <img src="img/grass.png" style="width:100%">
        </div>
      </div>
      
    </div>
</div>