<div class="container" ng-controller="hangmanController1">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Welcome Spell Bee</h1>
        </div>
      </div>
      
    </div>
    <!--<div class="row">
      <div class="col-md-3">
        <button class="btn" ng-click="get_questions_values()">HangMan</button>
      </div>
      
        <div class="col-md-3">
        <button class="btn" ng-click="exit()">Exit</button>
        </div> 
    </div>-->
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" >HangMan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Leaderboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" >Exit</a>
      </li>
    </ul>
  </div>