<ion-view view-title="login">
  <ion-content ng-controller="hangmanController1" class="bg-pat2s" scroll=false style="background-color: #fddf2f;
">
  <div class="m-top-0">
    
 
<div class="row">
  <div class="col">
    <img src="img/Spell.jpg" >
  </div>
</div>

  <div class="row">
<div class="col">
<button class="button button-block border-radius-custom custom-border" ng-click="get_questions_values()">
<p class="button-c-class">Play game </p>
</button>

</div> </div>

<div class="row">
<div class="col">
<button class="button button-block border-radius-custom custom-border" ui-sref="user.about"> 
<p class="button-c-class">About</p>
</button>

</div> </div>
<div class="row">
<div class="col">
<button class="button button-block border-radius-custom custom-border" ng-click="exit()">
<p class="button-c-class">Exit</p>
</button>

</div> </div>

<div class="row">
<div class="col">
<button class="button button-block border-radius-custom custom-border" ui-sref="user.leaderboard">
<p class="button-c-class">leaderboard</p>
</button>

</div> </div>

</div>

<div class="row ">
  <div class="col">
    <img src="img/grass.png" style="width:100%">
  </div>
</div>



  </ion-content>
</ion-view>