<div class="" ng-controller="hangmanController1">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-12">
        <div class="page-header scorecard">
            <ul class="nav">
                <!--<li class="nav-item">
                  <a class="nav-link" ng-click="get_questions_values()">HangMan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" ng-click="quizz_questions()">Quiz</a>
                </li>-->
                <!--<li class="nav-item padding-left-right-20">
                    <a class="nav-link" ui-sref="user.home">Home</a>
                </li>-->
                <li class="nav-item padding-left-right-20">
                    <a class="nav-link" ng-click="home()">Home</a>
                </li>
                <li class="nav-item padding-left-right-20">
                  <a class="nav-link" ui-sref="user.about">About</a>
                 
                </li>
                <li class="nav-item padding-left-right-20">
                  <a class="nav-link" ui-sref="user.leaderboard">Leaderboard</a>
                </li>
                <!--<li class="nav-item">
                  <a class="nav-link" href="#" ng-click="exit()">Exit</a>
                </li>-->
              </ul>
        </div>
      </div>
      
    </div>
  </div>