<ion-view view-title="Qr scan" ng-controller="qrscan">
  <ion-content class="color-teal">
  
<div class="row mp-top-20">
	<div class="font-bold col pp-all-13" ng-click="qrscanning()">
<img src="img/qr.png" / class="width-100"> 
<br>
	<center>Scan  code</center></div>
	<div class="font-bold col pp-all-13" ui-sref="user.generate">
<img src="img/qr1.png" / class="width-100"> 
<br>
	<center>Generate Qrcode</center></div>
</div>
<div class="row">
<div class="font-bold col pp-all-13" ui-sref="user.histqweory">

<img src="img/h.png" / class="width-100"> 
<br>
	<center>Histroy</center></div>


<div class="font-bold col pp-all-14" ng-click="exit()">

<img src="img/e.png" / class="width-100"> 
<br>
	<center>Exit</center></div>


</div>

  </ion-content>
</ion-view>