<div view-title="login">
    <div ng-controller="loginctrl" class="bg-pat2s bg-gradiant height-inherit" scroll=false >
    <div class="container">
      
   
        <div class="row">
            <center>
                <div class="col-xs-12 m-top-15">
                    <img src="img/spell_logo.png" style="width:250px">
                </div>
            </center>
        </div>
        
        <div class="row">
            <div class="col-md-4 offset-md-4">
            <center class="font-17 font-class">
                Spin id
            </center>
            <input type="" name=""  ng-model="spell_bee_id"  class="input-c-class p-left-20  width-100">
            <!--<button class="button button-block border-radius-custom custom-border" ng-click="login(spell_bee_id)"> 
                <p class="button-c-class">Submit</p>
            </button>-->
            <div class="buttonwd  font-class" style="width: 80%;     background-color: #8D6E63;" ng-click="login(spell_bee_id)">
                <div class="" >Submit</div>
            </div>
            </div>
         </div>
  </div>
  
  <!-- <div class="row ">
    <div class="col-md-12">
      <img src="img/grass.png" style="width:100%; margin-top: -80px;">
    </div>
  </div> -->
  
  
  
</div>
</div>