<ion-view view-title="login">
  <ion-content class="bg-pat2">
  <div class="shadow padding-12">
  	
 
  <div class="row">
  <div class="col-50">
  	 <div class="font-size-15 float-left"> Sign Up</div>  	
  </div>
  <div class="col-50"> 
  <div class=" font-size-15 float-right color-ash"> Submit</div>
  </div>
  </div>
  </div>

     <div class="row">
     <div class="col">
     <div class="dsad" style="padding:5px;"> 
  <label class="border_style item1  item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="border_style item1 item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="border_style item1 item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
   <label class="border_style item1 item-input item-floating-label">
    <span class="input-label">Phone Number</span>
    <input type="number" placeholder="Phone Number">
  </label>
   <label class="border_style item1 item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="text" placeholder="Password">
  </label>
   <label class="border_style item1 item-input item-floating-label">
    <span class="input-label">Confirm Password</span>
    <input type="text" placeholder="Confirm Password">
  </label>
</div>
  <div class="row margin-top-50">
	<div class="col"><hr></div>
	<div class="col"><center>Or</center></div>
	<div class="col"><hr></div>
</div>

  <div class="row">
<div class="col">
<button class="button button-block" style="background-color:#CD5C5C;">
	<div class="float-left"> <img src="img/g.png" class="margin-bottom-6" width="25px"> <span class="font-size-15 margin-left-89 ">Gmail</span></div>
	<!-- <i class="ion-social-facebook">
	Facebook
  </i> -->
</button>

</div> </div>
 



<div class="row">
<div class="col">
<button class="button button-block button-positive">
	<div class="float-left"> <img src="img/fb1.jpg" class="margin-bottom-6" width="25px"> <span class="font-size-15 margin-left-89">Facebook</span></div>
	<!-- <i class="ion-social-facebook">
	Facebook
  </i> -->
</button>

</div> 
<!-- <div class="col">
	<button class="button button-block button-positive">
  Facebook
</button>
</div> --></div>


</div>
</div>



  </ion-content>
</ion-view>