<ion-view view-title="">
  <ion-content class="bg-gradiant" ng-controller="hangmanController2">
      <div class="container">
          <div class="row">
             <div class="col-md-4">
             <img src="img/Spell.jpg" >
             </div>
             <div class="col-md-5" ng-include="'templates/home-new/home-desk.html'"></div>
             <div class="col-md-3 pull-right m-top-60 p-all-0" >
                <ul class="nav justify-content-end pull-right scorecard">
                    <li class="nav-item">
                      <a class="nav-link active" >Total :  {{total_values}}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" >Won : {{win_values}}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" >Lost : {{lose_values}}</a>
                    </li>
                  </ul>
             </div>
         </div> 

        

<!-- <p>Bck</p> -->
<!-- <div class="row">
  <div class="col">
    <button class="button button-block border-radius-custom custom-border" ui-sref="user.home">
<p class="button-c-class2" >Main menu</p>
</button>
  </div>
  <div class="col">
    <button class="button button-block border-radius-custom custom-border" ng-click="new_game()">
<p class="button-c-class2" >New game</p>
</button>
  </div>
  
</div> -->


  <div class="hangman scorecard2">
  <div class="hangman-results">
    <div class="hangman-hangman">
    <div class="row">
      <div class="col-md-5 offset-md-4">
        <svg id="hangman-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 500" stroke="#000000" fill="none">
        <polyline stroke-width="10" stroke-miterlimit="10" points="253.996,142.899 253.996,59.666 
                                                                   115.663,59.666 115.663,434.999 "/>
        <line stroke-width="10" stroke-miterlimit="10" x1="392.33" y1="434.999" x2="8.33" y2="434.999"/>
        <g id="added-parts">
        </g>
      </svg>
      </div>
    </div>
      
    </div>
    <div class="game-over" style="display: none;">
      <p class="game-over-won">You won! :)</p>

      <p class="game-over-lost">You lost :(</p>
       <!--<button class=" game-over-lost1 button button-positive" ng-click="showAlert()">Alert</button>-->
      <button id="game-over-replay">Start Over</button>
    </div>
  </div>
  <div class="hangman-puzzle">
  </div>
  <div class="hangman-letters">
  </div>

  <div> 
   <p class="font-bold font-20">Meaning :{{given_hint_word1}}</p>
       <!-- <p class="font-bold font-20">Your Score :{{score_value}}</p> -->

  </div>
</div>
</div>
  </ion-content>
</ion-view>